language: python
sudo: false
python:
- 2.7
- 3.3
- 3.4
install:
- pip install pytest pytest-cov coveralls flake8
- pip install -e .
script:
- py.test --cov=graphql
- flake8
after_success:
- coveralls
